<main class="page-container">
    <mat-card class="panel">
        <div class="panel-header">
            <mat-card-title>Clientes registrados</mat-card-title>

            <button mat-raised-button routerLink="/clients/new" class="add-client-button">
                <mat-icon>add</mat-icon>
                Nuevo cliente
            </button>


        </div>

        <div class="stats-grid">

            <mat-card class="stat-card">
                <div class="stat-top">
                    <div class="stat-icon">
                        <mat-icon>groups</mat-icon>
                    </div>

                    <div class="stat-info">
                        <span>Total clientes</span>
                        <strong>{{ totalClients > 0 ? totalClients : '—' }}</strong>
                    </div>
                </div>
            </mat-card>

            <mat-card class="stat-card">
                <div class="stat-top">
                    <div class="stat-icon">
                        <mat-icon>cake</mat-icon>
                    </div>

                    <div class="stat-info">
                        <span>Promedio de edad</span>
                        <strong> {{ totalClients > 0 ? (averageAge | number:'1.1-1') : '—' }} </strong>
                    </div>
                </div>
            </mat-card>

            <mat-card class="stat-card">
                <div class="stat-top">
                    <div class="stat-icon">
                        <mat-icon>analytics</mat-icon>
                    </div>

                    <div class="stat-info">
                        <span>Desviación estándar</span>
                        <strong> {{ totalClients > 0 ? (standardDeviation | number:'1.2-2') : '—' }} </strong>
                    </div>
                </div>
            </mat-card>

        </div>

        <div class="panel-search">
            <mat-form-field appearance="outline" class="search">
                <mat-label>Buscar cliente</mat-label>
                <input matInput placeholder="Nombre, apellido o edad" (keyup)="applyFilter($event)"
                    [disabled]="totalClients === 0" />
            </mat-form-field>

        </div>



        <div class="table-wrapper">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let client">{{ client.firstName }}</td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                    <td mat-cell *matCellDef="let client">{{ client.lastName }}</td>
                </ng-container>

                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Edad</th>
                    <td mat-cell *matCellDef="let client">{{ client.age }}</td>
                </ng-container>

                <ng-container matColumnDef="birthDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha nacimiento</th>
                    <td mat-cell *matCellDef="let client">
                        {{ client.birthDate | birthDate:'es-PE':'long' }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell empty-row" [attr.colspan]="displayedColumns.length">
                        <mat-icon>groups</mat-icon>

                        <h3>No hay clientes registrados</h3>

                        <p>Comienza creando tu primer cliente.</p>
                    </td>
                </tr>

            </table>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>


    </mat-card>
</main>

<app-loading *ngIf="isLoading"></app-loading>