.client-form-page { 
  padding: 48px 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
 
}

.client-form-container {
  width: 100%;
  max-width: 650px;
}


.client-form-card {
  width: 100%;
  max-width: 650px;
  padding: 16px;
  border-radius: 18px;
}

mat-card-header {
  margin-bottom: 24px;
}

mat-card-title {
  font-size: 28px;
  font-weight: 700;
  color: #102033;
}

mat-card-subtitle {
  margin-top: 8px;
  color: #6b7280;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 12px;
  height: 48px;
  font-weight: 600;
}

.return-button {
  color: #071b4d !important;
  font-weight: 500;
  margin-bottom: 24px;
}

.return-button:hover {
  background: rgba(255, 255, 255, 0.12);
}

.save-button {
  color: #fff !important;
  font-weight: 500;
  margin-bottom: 24px;
  background-color: #071b4d !important;
  height: 3rem;
}

.save-button:hover {
  background: #0b2f75 !important;
}