<footer class="footer">
  <div class="footer-content">

    <div class="footer-brand">
      <img
        src="assets/images/logo-novacomp.png"
        alt="Novacomp"
      />

      <p>
        Client Manager Challenge
      </p>
    </div>

    <div class="footer-info">
      <span>Angular 15</span>
      <span>•</span>
      <span>Firebase</span>
      <span>•</span>
      <span>Firestore</span>
    </div>

    <p class="footer-copy">
      © {{ currentYear }} Novacomp Challenge. Developed by Carolay Sabalu.
    </p>

  </div>
</footer>